<form action="/<%= @videos.id %>/edit" method="POST">
	<label for="title">Title</label>
	<input type="text" name="title" id="title" value="<%= @videos.title %>">

	<label for="year">Year</label>
	<input type="number" name="year" id="year" value="<%= @videos.year %>">

	<label for="director">Director</label>
	<input type="text" name="director" id="director" value="<%= @videos.director %>">

	<input type="submit">

</form>
