<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/application.css">

    <script src="/javascript/jquery-2.1.4.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/application.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Video Store</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
