<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>Movies Description</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <table class="table">
        <thead>
          <tr>
            <th>Year</th>
            <th>Title</th>
            <th>Director</th>
            <th class="td-actions">Actions</th>
          </tr>
        </thead>
          <tr>
            <td><%= @post.year %></td>
            <td><%= @post.title %></td>
            <td><%= @post.director %></td>
            <td class="td-actions">
              <a href="/" class="btn">
                Back
              </a>
            </td>
          </tr>
      </table>
    </div>
  </div>
</div>
